body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }
}

.navbar-brand img
{
  width: 50px; 
  height: 50px; 
}

.navbar .container {
  margin: 0 auto;
  max-width: 100%;
}


.btn {
  background-color: black;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Courier New', monospace;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: white;
  cursor: pointer;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 10px green;
}









